# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# macOS
__MACOSX/
.DS_Store

# Testing
.pytest_cache/

# Large data/model files
*.txt.gz
glove*.txt

# Editors
.vscode/